.container h2 {
    margin: 80px 0 80px 101px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3vw;
    row-gap: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

