
header {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    margin: 0 109px;
    height: 80px;
    background: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

nav a {
    position: relative;
    padding: 14px 16px;
}

nav a:hover,
nav a:focus,
.active {
    color: var(--col_navSelected);
    font-weight: 600;
}

nav a::after {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    top: -20px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #5dce0000;
    transition: all 0.2s;
}

nav a:hover::after,
nav a:focus::after,
.active::after {
    border-bottom: var(--brd_navSelected);
    transform: translateY(23px);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightSide {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 22px;
}

.currency {
    position: relative;
    display: block;
}

.currency div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.currency_symbol {
    font-size: 18px;
    width: 20px;
    text-align: left;
}

.currencyMenu {
    display: none;
    position: absolute;
    width: max-content;
    transform: translateX(-15px);
    background-color: #fff;
    box-shadow: var(--boxshdw_default);
    z-index: 2;
}

.currency {
    padding: 10px 30px 10px 10px;
    font-size: 1.125rem;
}

.currency:hover {
    background-color: #EEE;
}

.cart,
.cartWrapper {
    position: relative;
    display: block;
}

.cartWrapper svg {
    cursor: pointer;
}

.cartIndicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    top: -11px;
    left: 11px;
    border-radius: 1000px;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    z-index: 0;
}

.inactive {
    display: none;
}

.cartOverlay {
    display: none;
    position: absolute;
    padding-bottom: 20px;
    max-height: 50vh;
    transform: translateX(-290px);
    background-color: #fff;
    z-index: 3;
}

.cartOverlayInner {
    position: relative;
    top: 20px;
    left: 0;
    min-width: 340px;
    max-height: calc(50vh - 20px);
    overflow: auto;
}

.cartOverlayTitle:first-child {
    margin: 32px 0 32px 16px;
    font-weight: 700;
    font-size: 1rem;
}

.cartOverlayTitle:nth-child(2) {
    margin: 32px 0 32px 0;
    font-weight: 500;
    font-size: 1rem;
}

.cartOverlayBackgroud {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: rgba(57, 55, 72, 0.22);
    z-index: 2;
}

.cartWrapper:hover .cartOverlay {
    display: block;
}

.cartTotalPrice {
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
    font-size: 1rem;
    font-weight: 700;
}

.cartTotalPrice p:first-child {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.cartOverlayButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 16px;
}

.cartOverlayButtons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 43px;
    background-color: var(--col_button);
    color: #fff;
}

.cartOverlayButtons a:first-child button {
    width: 138px;
    height: 41px;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

.cartOverlayButtons button:hover {
    background-color: var(--col_buttonHovered);
}

.cartOverlayButtons a:first-child button:hover {
    background-color: var(--col_buttonBorderedHovered);
}