.container h2 {
    margin-top: 0;
    margin-bottom: 55px;
    font-size: 30px;
    font-weight: 700;
}

.container {
    margin: 80px 100px 0 100px;
}

.priceInfo {
    display: flex;
    column-gap: 1ch;
    margin-top: 32px;
    font-size: 1.5rem;
    font-weight: 400;
}

.priceInfo div {
    display: flex;
    flex-direction: column;
}

.priceInfo div:nth-child(2) {
    font-weight: 700;
}

.container a button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 13px 0;
    width: 279px;
    height: 43px;
    color: #fff;
    background-color: #5ECE7B;
    cursor: pointer;
}

.container a button:hover {
    background-color: #4dbd6a;
}