.item {
    display: grid;
    grid-template-columns: 49% 2% 49%;
    margin: 24px 0 -1px 0;
}

.item::before {
    display: inline-block;
    grid-column: 1;
    grid-row: 1;
    content: "";
    border-top: var(--brd_default);
    width: 202%;
    margin-top: -24px;
}

.item::after {
    display: inline-block;
    grid-column: 1;
    grid-row: 2;
    content: "";
    border-top: var(--brd_default);
    width: 202%;
    margin-top: 32px;
}

.itemOverlay {
    display: grid;
    grid-template-columns: 49% 2% 49%;
    margin: 32px 16px 40px 16px;
}

.itemOverlay::before {
    display: inline-block;
    grid-column: 1;
    grid-row: 1;
    content: "";
    border-top: none;
    width: none;
    margin-top: 0;
}

.itemOverlay::after {
    display: inline-block;
    grid-column: 1;
    grid-row: 2;
    content: "";
    border-top: none;
    width: none;
    margin-top: 0;
}

.itemInfo {
    grid-column: 1;
    grid-row: 1;
}

.brand {
    font-size: 1.875rem;
    font-weight: 600;
    margin: 0 0 16px 0
}

.brandOverlay {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 8px 0
}

.subtitle {
    font-size: 1.875rem;
    font-weight: 400;
    margin-left: 0;
}

.subtitleOverlay {
    font-size: 1rem;
    font-weight: 300;
}

.price {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.priceOverlay {
    margin: 4px 0 8px 0;
    font-size: 1rem;
    font-weight: 500;
}

.itemRightSite {
    display: grid;
    grid-template-columns: auto 200px;
    grid-row: 1;
    grid-column: 3;
    justify-content: flex-end;
}

.itemRightSiteOverlay {
    grid-template-columns: 30% 70%;
}

.qtyDisplay {
    display: flex;
    grid-column: 1;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-self: flex-end;
    margin-right: 24px;
    font-size: 1.5rem;
    font-weight: 500;
}

.qtyDisplay svg:hover {
    cursor: pointer;
}

.qtyDisplay svg:hover path {
    stroke: white
}

.qtyDisplay svg:hover rect {
    fill: black
}

.photo {
    display: flex;
    grid-column: 2;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.photo img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.photoNavigation {
    display: flex;
    position: absolute;
    right: 16px;
    bottom: 16px;
    column-gap: 8px;
    z-index: 1;
}