.item {
    display: grid;
    grid-template-columns: 49% 2% 49%;
    margin: 24px 0 -1px 0;
}

.item::before {
    display: inline-block;
    grid-column: 1;
    grid-row: 1;
    content: "";
    border-top: var(--brd_default);
    width: 202%;
    margin-top: -24px;
}

.item::after {
    display: inline-block;
    grid-column: 1;
    grid-row: 2;
    content: "";
    border-top: var(--brd_default);
    width: 202%;
    margin-top: 32px;
}

.itemOverlay {
    display: grid;
    grid-template-columns: 49% 2% 49%;
    margin: 32px 16px 40px 16px;
}

.itemOverlay::before {
    display: inline-block;
    grid-column: 1;
    grid-row: 1;
    content: "";
    border-top: none;
    width: none;
    margin-top: 0;
}

.itemOverlay::after {
    display: inline-block;
    grid-column: 1;
    grid-row: 2;
    content: "";
    border-top: none;
    width: none;
    margin-top: 0;
}

.itemInfo {
    grid-column: 1;
    grid-row: 1;
}

.brand {
    font-size: 1.875rem;
    font-weight: 600;
    margin: 0 0 16px 0
}

.brandOverlay {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 8px 0
}

.subtitle {
    font-size: 1.875rem;
    font-weight: 400;
    margin-left: 0;
}

.subtitleOverlay {
    font-size: 1rem;
    font-weight: 300;
}

.price {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.priceOverlay {
    margin: 4px 0 8px 0;
    font-size: 1rem;
    font-weight: 500;
}

.textAttribute,
.swatchAttribute {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    margin: 8px 0
}

.textAttributeOverlay,
.swatchAttributeOverlay {
    font-family: 'Raleway', sans-serif;
    font-size: .75rem;
    font-weight: 400;
    margin: 4px 0
}

.textAttribute_itemsContainer,
.swatchAttribute_itemsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.textAttribute_itemsContainerOverlay,
.swatchAttribute_itemsContainerOverlay {
    gap: 8px;
}

.textAttribute_item {
    display: flex;
    padding: 13px 22px;
    border: var(--brd_textAttribute);
}

.textAttribute_itemOverlay {
    display: flex;
    padding: 5px 7px;
    border: var(--brd_textAttribute);
    line-height: 4px;
}

.selectedTextAttribute {
    background-color: #000;
    color: #fff
}

.swatchAttribute_item {
    padding: 15px 15px;
    border: var(--brd_textAttribute);
}

.swatchAttribute_itemOverlay {
    padding: 7px 7px;
    border: var(--brd_textAttribute);
}

.selectedSwatchAttribute {
    padding: 13px 13px;
    border: var(--brd_space);
    outline: var(--out_selectedSwatch);
}

.selectedSwatchAttributeOverlay {
    padding: 7px 7px;
    border: var(--brd_space);
    outline: var(--out_selectedSwatch);
}

.itemRightSite {
    display: grid;
    grid-template-columns: auto 200px;
    grid-row: 1;
    grid-column: 3;
    justify-content: flex-end;
}

.itemRightSiteOverlay {
    grid-template-columns: 30% 70%;
}

.qtyDisplay {
    display: flex;
    grid-column: 1;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-self: flex-end;
    margin-right: 24px;
    font-size: 1.5rem;
    font-weight: 500;
}

.qtyDisplay svg:hover {
    cursor: pointer;
}

.qtyDisplay svg:hover path {
    stroke: white
}

.qtyDisplay svg:hover rect {
    fill: black
}

.photo {
    display: flex;
    grid-column: 2;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.photo img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.photoNavigation {
    display: flex;
    position: absolute;
    right: 16px;
    bottom: 16px;
    column-gap: 8px;
    z-index: 1;
}