.container h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 16px 0
}

.container h2 {
    font-size: 30px;
    font-weight: 400;
}

#subtitle {
    margin-left: 0;
    margin-bottom: 43px;
}

.container {
    display: grid;
    grid-template-columns: 40% 10% 50%;
    margin: 80px 100px 0 100px
}

.photoContainer {
    display: grid;
    grid-template-columns: 15% 5% 80%;
    max-height: 1px;
}

.photoContainer img {
    max-width: 100%;
    max-height: 100%;
}

.photoContainer_thumbnails {
    display: flex;
    flex-direction: column;
    gap: 35px;
    overflow-y: auto;
}

.photoContainer_thumbnails img {
    cursor: pointer;
}

.photoContainer_photo {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.infoContainer {
    grid-column: 3;
}

.textAttribute,
.swatchAttribute {
    display: block;
    margin: 24px 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
}

.textAttribute_itemsContainer,
.swatchAttribute_itemsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;

}

.textAttribute_item {
    display: flex;
    padding: 13px 22px;
    border: var(--brd_default);
    cursor: pointer;
}

.selectedTextAttribute {
    background-color: #000;
    color: #fff
}

.swatchAttribute_item {
    padding: 15px 15px;
    border: var(--brd_default);
    cursor: pointer;
}

.selectedSwatchAttribute {
    padding: 15px 15px;
    border: var(--brd_space);
    outline: 2px solid var(--col_button);
}

.price p {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}

.price p:first-child {
    margin-top: 38px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.125rem;
}

.addToChart {
    display: flex;
    justify-content: center;
    justify-items: center;
    max-width: 50%;
    margin-top: 20px;
    padding: 16px 32px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    color: #ffff;
    background-color: var(--col_button);
    cursor: pointer;
}

.addToChart:hover {
    background-color: var(--col_buttonHovered);
}

.addToChartDisabled {
    background-color: var(--col_buttonInactive);
    cursor: default;
}

.addToChartDisabled:hover {
    background-color: var(--col_buttonInactive);
}

.description {
    max-width: 55%;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}