body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2.625rem;
  font-weight: 400;
  margin: 16px 0 0 0
}

p {
  margin-top: 5px;
  margin-bottom: 5px
}